* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}

body {
    width: 100%;
    overflow-x: hidden;

}

.nav-link {

    font-weight: bold;
    text-transform: uppercase;
    color: black;
}

.button-contact {
    border: none;
    width: 107px;
    height: 40px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    font-size: 12px;

}

/* jumbotron */
.judul {

    margin-left: 175px;
    margin-top: 172px;
    font-size: 97px;
    line-height: 122px;
    /* overflow-y: hidden; */
    color: #020E35;
}

.jumbo {
    margin-left: 34px;
    overflow-x: hidden;

}

/* .bebek{
    
} */
.button-cv {
    z-index: -5;
    border: none;
    width: 140px;
    height: 40px;
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
    color: white;
    left: 22%;
    bottom: 0;
    padding: 11px 38px 13px 20px;
    font-size: 12px
}

/* About */

.isi {
    width: 823px;
    height: 75px;
    overflow-x: hidden;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;

    color: #2B2B2B;

}

.about {

    font-weight: 400px;
    font-size: 40px;
}

.garba {
    width: 100px;

    border-bottom: 2px solid #E73587;
}

@media screen and (max-width: 768px) {

    .navbar {
        width: 100%;
    }

    .hide {
        display: none;
    }

    .jumbo {
        display: none;
    }

    .judul {
        font-size: 24px;
        line-height: 30px;
        margin-left: 10px;
        margin-top: 20px;
        max-width: 30%;
        padding-bottom: 40px;
    }

    .button-cv {
        left: 3%;
        width: 100px;
        font-size: 8px;


    }

    .navbar img {
        display: none;
    }

    .isi {
        max-width: 100%;
        padding: 10px;
        height: 100%;
    }


}

/* Section Question */
/* Kolom 1 */
.container-question {
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    margin-top: 100px;
}

.judul-kolom-1-question {
    font-size: 30px;
    line-height: 38px;
    color: #020e35;
}

.title-kolom-1-question {
    /* font-size: 30px; */
    /* line-height: 110px; */
    color: #020e35;
}

.hear {
    /* font-size: 90px; */
    line-height: 110px;
    color: #e73587;
}

/* Kolom 2 */
.form-label-question {
    font-weight: 400;
    /* font-size: 16px; */
    line-height: 22px;
    color: #2c3241;
}

.text-placeholder-question {
    font-size: 18px;
    line-height: 36px;
    color: #2c3241;
}

.button-kolom-2-section-D {
    background: linear-gradient(270deg, #8C32F0 0%, #E73587 100%);
}

/* Footer */
.container-footer {
    background: #020e35;
    margin-top: 94px;
}

.title-footer {
    font-family: "Basic";
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #ffffff;
}